vendor/
node_modules/
upload/*
dist/
composer.phar
config.yml
config.xml

# Ignore VueJS compiled files
views/css/app.css
views/js/app.js
views/js/chunk-vendors.js

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

.php_cs.cache
.php-cs-fixer.cache
.env
.env.integ

.idea/

tests/integration/config.json
.terraform/
microcks/

# Generated jest test result
_dev/apps/ui/.jest-test-results.json
_dev/apps/ui/storybook-static
.vscode/launch.json
.pnpm-store