<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>psxmarketingwithgoogle</name>
    <displayName><![CDATA[Marketing with Google]]></displayName>
    <version><![CDATA[1.74.10]]></version>
    <description><![CDATA[PrestaShop Marketing makes it easy to connect your store with Google and promote your products to millions of shoppers across multiple Google channels. Create Performance Max campaigns without leaving your PrestaShop dashboard and drive more traffic.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[advertising_marketing]]></tab>
  <confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
