@import "base/nobootstrap";

#psxMktgWithGoogleApp {
  @import "~bootstrap/scss/functions";

  // Custom PS
  @import "~prestakit/scss/functions";
  @import "abstracts/variables";
  @import "~prestakit/scss/variables";
  @import "abstracts/variables";

  // Bootstrap
  @import "./vendors/bootstrap";
  @import "./vendors/bootstrap-vue";

  // Mixins
  @import "~prestakit/scss/mixins/fonts";
  @import "~prestakit/scss/imports"; // need fonts first
  @import "~prestakit/scss/mixins/close-button";
  @import "~prestakit/scss/mixins/shadows";
  @import "~prestakit/scss/mixins/buttons";
  @import "~prestakit/scss/mixins/forms";

  // Components
  @import "~prestakit/scss/type";
  @import "~prestakit/scss/alerts";
  // @import "~prestakit/scss/help-box";
  // @import "~prestakit/scss/popover";
  @import "~prestakit/scss/badges";
  @import "~prestakit/scss/buttons";
  @import "~prestakit/scss/button-group";
  // @import "~prestakit/scss/breadcrumb";
  @import "~prestakit/scss/toolbar";
  @import "~prestakit/scss/cards";
  @import "~prestakit/scss/custom-forms";
  @import "~prestakit/scss/dropdown";
  @import "~prestakit/scss/forms";
  @import "~prestakit/scss/input-group";
  @import "~prestakit/scss/list-group";
  @import "~prestakit/scss/modal";
  @import "~prestakit/scss/navs";
  @import "~prestakit/scss/pagination";
  @import "~prestakit/scss/ps-tagger";
  @import "~prestakit/scss/ps-tags";
  @import "~prestakit/scss/ps-switch";
  @import "~prestakit/scss/ps-sortable-columns";
  @import "~prestakit/scss/ps-dropdown";
  @import "~prestakit/scss/ps-number";
  @import "~prestakit/scss/tables";
  @import "~prestakit/scss/spinners";
  @import "~prestakit/scss/material-checkbox";
  @import "~prestakit/scss/growl";
  @import "~prestakit/scss/search";
  @import "~prestakit/scss/floating-button";
  @import "~vue-select/src/scss/vue-select";
  
  // abstracts
  @import "abstracts/functions";

  // base
  @import "base/reset";
  @import "base/typography";
  @import "base/common";
  @import "base/color";
  @import "base/border";

  // page
  @import "layouts/form";
  @import "layouts/sizing";
  @import "layouts/sticky-head";
  @import "layouts/table";

  // components
  @import "components/helper-shopid";
  @import "components/onboardingcard";
  @import "components/landingpageheader";
  @import "components/landingpagecontent";
  @import "components/landingpagefooter";
  @import "components/glass";
  @import "components/badge";
  @import "components/breadcrumb";
  @import "components/stepper";
  @import "components/shipping_setup";
  @import "components/sync-timeline";
  @import "components/modal";
  @import "components/nav";
  @import "components/filters";
  @import "components/productfeedreportcard";
  @import "components/ps_progress-ring";
  @import "components/toast";
  @import "components/button";
  @import "components/kpi-card";
  @import "components/product-category-checkbox";
  @import "components/table-carriers";
  @import "components/faq";
  @import "components/sync-history";
  @import "components/timeline-configured";
  @import "components/tips-and-tricks";

  // page
  @import "pages/landingpage";
  @import "pages/onboardingpage";
  @import "pages/attribute-mapping";
}


