.custom-select {
  box-shadow: none;
  padding-left: rem(10);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
  background-size: 24px;

  &:disabled {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23b3c7cd'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
  }

  option:hover,
  option:focus {
    background-color: $light-blue-900;
  }
}

.custom-radio * {
  cursor: pointer;
}

.ps-dropdown {
  transition: 0s transform;
  padding: 2px 0;

  &__menu-small {
    width: auto !important;
  }
}

.psxmarketingwithgoogle-dropdown {
  background-color: transparent !important;

  &.show button {
    border-color: $primary-800 !important;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(8);
    padding-bottom: rem(8);
    font-weight: 400;
    background-color: transparent;
    color: $primary-800 !important;
    border-color: $primary-400;
    
    &:hover {
      background-color: transparent;
      color: $primary-800 !important;
    }

    &:focus {
      background: transparent;
      box-shadow: none;
      outline-offset: 1px;
    }
  }

  button ~ [role=menu] {
    padding: rem(8);
    box-shadow: none;
    width: calc(100% + .5px);
    border: none;
    box-shadow: 0px 12px 60px 0px #0000001A !important;
  }

  .dropdown-header {
    text-transform: uppercase;
    color: $primary-800;
    font-weight: 700;
    text-align: left;
    padding: rem(8) !important;
    font-size: rem(14);
    margin-bottom: 2px;
  }

  .dropdown-item {
    padding: rem(8) !important;
    margin-bottom: rem(2);
    display: flex;
    align-items: center;
    color: $primary-800;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      white-space: normal;
      line-height: 1.4em;
    }

    &:hover {
      background-color: $primary-200;
    }
    
    &:active {
      background-color: $primary-300;
      color: $primary-800;
    }

    &:focus-visible {
      outline: #174EEF 1px solid;
    }

    &.disabled {
      pointer-events: initial;
      color: $primary-300;

      &:hover,
      &:focus {
        background-color: transparent !important;
        cursor: default;
      }
    }
  }

  .ps-dropdown {
    border-radius: 0 0 4px 4px;
    cursor: default;
    max-height: rem(411);
    overflow: auto;

    &__placeholder {
      color: $gray-450;

      &:after {
        color: $grey_dark;
      }
    }
  }

  .dropdown-toggle {
    padding-right: 6px;

    &[expanded="true"] {
      border-bottom: 0;

      & + .dropdown-menu {
        border-top: 0;
      }
    }
  }

  hr {
    margin: 0;
  }

  li + li .dropdown-header {
    border-top: 1px solid $gray-450;
  }

  .dropdown-form-with-checkbox {
    padding: 0;

    label {
      padding: rem(10) rem(15) rem(10) calc(#{rem(15)} + 1.5rem);

      &:before, &:after {
        top: rem(12);
        left: rem(15);
      }
    }
  }

  & > .disabled {
    background-color: transparent;
    color: $primary-500 !important;
    border: 1px solid $primary-400;
    cursor: auto;
    
    &:hover {
      color: $primary-500 !important;
      background-color: transparent;
    }
  }
}

.v-select {
  &.vs--open .vs__dropdown-menu {
    border: none;
    border-radius: 0;
    max-height: rem(411);
  }

  &.vs--open .vs__dropdown-toggle {
    border-color: $primary-800;
    border-right: 1px solid $primary-800;
  }

  &.has-selection {
    background-color: $grey_extralight;
  }

  &.vs--searching .vs__search {
    color: $grey_dark;
    margin: 0;
  }

  .vs__search {
    margin-top: 0;
    padding: 0;

    &::placeholder {
      color: $primary-800;
      opacity: 1;
    }
  }

  .vs__dropdown-toggle {
    border: 1px solid $primary-400;
    border-radius: 0 !important;
    padding: 4px 0 4px 12px;
  }

  .vs__selected {
    border: none;
    background-color: $primary-300;
    color: $black;
    font-size: rem(12);
    padding: 6px 8px;
    border-radius: 0;
    font-weight: 700;
    margin: 0;
  }

  .vs__deselect {
    text-shadow: none;
    color: $black;

    i {
      font-size: rem(16);
      color: inherit;
    }
  }

  .vs__dropdown-option {
    padding: 8px;
    margin-bottom: 2px;

    &--highlight {
      background: $primary-200;
      color: $dark-gray;
      
      .custom-control-label:before {
        color: white !important;
        border-color: $primary-800;
        background-color: $primary-800;
      }

      .custom-control-label:after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' aria-label='check' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M10.97 4.97a.75.75 0 011.07 1.05l-3.99 4.99a.75.75 0 01-1.08.02L4.324 8.384a.75.75 0 111.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 01.02-.022z'/%3E%3C/svg%3E");
        background-size: 125%;
      }
    }
    
    &--selected {
      background: $primary-200;

      .custom-control-label:before {
        color: white !important;
        border-color: $primary-800;
        background-color: $primary-800;
      }

      .custom-control-label:after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' aria-label='check' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M10.97 4.97a.75.75 0 011.07 1.05l-3.99 4.99a.75.75 0 01-1.08.02L4.324 8.384a.75.75 0 111.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 01.02-.022z'/%3E%3C/svg%3E");
        background-size: 125%;
      }
    }
  }

  &.vs--multiple {
    padding: 2px 0;
    min-height: 43px;

    .vs__dropdown-toggle {
      height: 100%;
    }
   
    .vs__dropdown-option {
      display: flex;
    }

    .vs__selected-options {
      padding: 0;
      gap: rem(4);
    }

    &.disabled {
      cursor: auto;
      color: $primary-500;
      cursor: auto;
      pointer-events: none;

      .vs__search::placeholder {
        color: $primary-500;
      }
    }
  }
}

.ps_gs-checkbox {
  padding-left: 0;

  .custom-control-label {
    display: flex;
    align-items: center;
    padding-left: rem(24);
    cursor: pointer;
    float: none;
    width: auto;
    text-align: left;
    font-weight: inherit;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .custom-control-label:before{
    border-color: $primary-800;
    border-width: 2px;
    border-radius: 2px !important;
  }

  .custom-control-label:after, .custom-control-label:before {
    left: 0;
  }

  .custom-control-input:checked~.custom-control-label:after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' aria-label='check' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M10.97 4.97a.75.75 0 011.07 1.05l-3.99 4.99a.75.75 0 01-1.08.02L4.324 8.384a.75.75 0 111.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 01.02-.022z'/%3E%3C/svg%3E");
    background-size: 125%;
  }

  .custom-control-input:checked:disabled~.custom-control-label:before {
    border-color: $gray-300;
  }

  .custom-control-input:checked:disabled~.custom-control-label:after {
    background-color: $gray-300;
  }


  .custom-control-input:indeterminate~.custom-control-label:after {
    background-color: $grey_muted;
  }
}

.ps_gs-switch {
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $green;
    background-color: $green;
  }

  .custom-control-input:checked[disabled="disabled"] ~ .custom-control-label::before {
    border-color: rgba($green, 0.6);
    background-color: rgba($green, 0.6);
  }

  .custom-control-label::after {
    background-color: #fff;
  }

  .custom-control-label::before {
    background-color: $gray-450;
    border-color: $gray-450;
  }
}

.ps_gs-radio {
  .custom-control {
    padding-left: rem(28);
  }

  .custom-control-input {
    width: rem(20);
    height: rem(20);
  }

  .checked {
    .custom-control-label {
      &:after {
        background-image: none !important;
        background-color: $primary-800;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        border: white 3px solid;
        left: -25px;
        top: 2px;
      }
    
      &:before {
        background-color: $primary-800;
      }
    }
  }
  
  .custom-control-label::before {
    width: rem(20);
    height: rem(20);
    border: $primary-800 solid 2px;
    top: 0;
    left: -27px;
  }
}

.ps_gs-datepicker {
  .b-calendar-grid-body {
    [aria-disabled="true"] {
    background: $grey_extralight !important;
    }
  }

  .btn-outline-light:hover,
  .btn-light {
    background-color: $grey_extralight;
    color: inherit;
  }
}

.ps_gs-v-select {
  &--phone-prefix {
    .vs__selected-options {
      flex-wrap: nowrap;
      max-width: rem(66);
    }

    .vs__dropdown-toggle {
      width: rem(100);
      height: 100%;
      border-right: 0;
    }

    .vs__dropdown-menu {
      width: auto;
      padding: rem(8);
    }

    & + .ps_gs-phone-input {
      border-radius: 0 4px 4px 0;
      margin: 0;
    }

    .vs__selected {
      background: none;
      color: $dark-gray;
    }
  }
}

.ps_gs-code-input {
  width: calc(2ch + 1rem);
  height: calc(2ch + 1rem);
  padding-left: 0;
  padding-right: 0;
  margin: 0 3px;
  text-align: center;


}
.code-invalid {
  border: 1px solid #f54c3e;
  color: #f54c3e;
}
/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}

/* Color could not be redefined in a clean way */
.form-control {
  background-color: transparent;
  color: $primary-800 !important;
  border-color: $primary-400;

  &:hover {
    background-color: transparent !important;
  }

  &[disabled="disabled"] {
    color: $primary-400 !important;
    background-color: transparent !important;
    border-color: $primary-400;
  }


  &:focus {
    background-color: transparent !important;
    border-color: $primary-800 !important;
  }
}

.input-group-text {
  background-color: transparent;
  color: $primary-400 !important;
  border-color: $primary-400 !important;
}