$maxWidthsSizing: (80, 140, 160, 250, 272, 320, 420, 500, 800);

@each $width in $maxWidthsSizing {
  @include media-breakpoint-up(sm) {
    .maxw-sm-#{$width} {
      max-width: #{$width}px;
    }
  }
}

.w-16 {
  width: rem(16);
}
