.ps_gs-sticky-head {
  padding: 0;
  position: sticky;
  top: 136px; // fallback for IE11
  top: var(--header-height-full);
  margin-bottom: var(--header-height);
  z-index: 200;
  padding-left: 0;
  padding-right: 0;
  background: $white;
}

.ps_gs-sticky-head .nav-link {
  padding: rem(7) 1.25rem;
}

