.table-firstline-borderless {
  tbody tr:first-child td {
    border: none;
  }

  td ~ td {
    @include media-breakpoint-down(sm) {
      border-top: 0
    }
  }
}

.table-pre-scan-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgba(255,255,255,0.7);
  z-index: 11111;
  border: none;
}

.container-mapping-summary {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  display: table;
}

.centered-mapping-summary {
  width: 60%;
  margin: 0 auto;
}

.mr-mid-4 {
  margin-right: 4.5rem !important;
}

.ellipsis-mapping-summary-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-border-bottom {
  border-bottom: 1px solid #EAEBEC!important;
}

.table-pre-scan-loader-wrapper {
  height: rem(80);
}

.table.b-table[class*="b-table-stacked"] > tbody > tr > :first-child {
  border-top-width: 1px;
}

.ps_gs-table-products {
  &__issues {
    min-width: 140px;
  }

  table {
    border-collapse: separate;
  }

  tbody tr:first-child td {
    border: none;
  }

  &__loading-slot {
    height: 40px;
  }

  &__spinner {
    display: block;
    margin: 0 auto;
    color: $white;
    background-color: $white;
    width: 2rem;
    height: 2rem;
    border-radius: 2.5rem;
    border-right-color: $primary;
    border-bottom-color: $primary;
    border-width: 0.1875rem;
    border-style: solid;
    font-size: 0;
    overflow: hidden;
    outline: none;
    border-left-color: $light-blue-200;
    border-top-color: $light-blue-200;
    animation: rotating 2s linear infinite;
  }
}

// ! TO KEEP
// ! MIGHT BE USED IF FILTERING AND SORTING ARE NOT POSSIBLE
// @include media-breakpoint-down(sm) {
//   .ps_gs-table-products {
//     tbody {
//       tr {
//         display: flex !important;
//         flex-wrap: wrap;
//         padding-top: rem(8);
//         padding-bottom: rem(8);

//         &:not(:last-child) {
//           border-bottom: 1px solid $gray-400;
//         }

//         td {
//           border: none;
//         }
//       }
//     }

//     &__status,
//     &__issue {
//       width: 100%;
//       margin-top: rem(-8);
//     }
//   }
// }

.ps_gs-table-controls {
  &__go-to {
    input {
      width: rem(80) !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .ps_gs-table-controls {
    &::before {
      content: '';
      width: 100%;
      order: 1;
    }

    &__per-page {
      margin-left: auto;
      margin-right: initial !important;
    }

    &__pagination {
      order: 2;
      margin-top: rem(8) !important;
      width: auto;

      ul {
        justify-content: space-between;
      }
    }

    &__go-to {
      margin-top: rem(8) !important;
      order: 2;
      width: auto;
      margin-left: auto;

      input {
        margin-left: auto;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .ps_gs-table-controls {
    &::before {
      order: 2;
    }

    &__per-page {
      margin-left: auto;
      margin-right: initial !important;
    }

    &__pagination {
      width: 100%;

      .page-item {
        padding-left: 0;
        padding-right: 0;
      }

      .page-link {
        padding-left: rem(4);
        padding-right: rem(4);
      }
    }

    &__go-to {
      order: 3;
      margin-left: auto;
      margin-right: auto;

      input {
        width: rem(60) !important;
        margin-left: auto;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .ps_gs-table-controls {
    &::before {
      content:unset;
    }
  }
}

.ps_gs-table-caption {
  color: $body-color;
}

// Modify sort icon
.table.b-table {
  > thead,
  > tfoot {
    > tr {
      > [aria-sort]:not(.b-table-sort-icon-left) {
        background-image: none;
      }

      > [aria-sort] {
        position: relative;
      }

      > [aria-sort="none"]:after,
      > [aria-sort="ascending"]:after,
      > [aria-sort="descending"]:after {
        font-weight: 700;
        font-family: 'Material Icons';
        -webkit-font-feature-settings: 'liga';
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.45em;
        text-decoration: none;
        color: $primary;

        position: absolute;
        right: 0;
        bottom: rem(6.4);
      }

      > [aria-sort="none"]:after {
        content: 'unfold_more';
        color: $grey_darklight;
      }

      > [aria-sort="ascending"]:after {
        content: 'keyboard_arrow_up';
      }

      > [aria-sort="descending"]:after {
        content: 'keyboard_arrow_down';
      }
    }
  }
}

.b-table-sticky-column {
  background-color: #fff;

  &--invisible {
    background-color: $background-color;
  }
}

.table-with-maxheight .b-table-sticky-column {
  border-right: solid rem(2) $primary !important;
}

$statusColors: (
  'eligible': encodecolor($success),
  'eligibleLimited': encodecolor($success),
  'ended': encodecolor($black),
  'paused': encodecolor($info),
  'noteligible': encodecolor($danger),
  'draft': encodecolor($primary-600),
  'pending': encodecolor($warning),
);

.ps_gs-cell-status {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50'/%3E%3C/svg%3E");
  background-size: rem(12);
  background-position: left rem(6.4) center;
  background-repeat: no-repeat;
  padding-left: rem(26) !important;
}

@each $status, $color in $statusColors{
  .ps_gs-cell-status--#{$status} {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' fill='#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50'/%3E%3C/svg%3E");
  }
}

.ps_gs-table-reporting-header {
  background-color: $white;
  border-bottom: 1px solid #dde4e6;

  p {
    margin-bottom: 0;
    line-height: 1.2em;
  }
}

.table-with-maxheight {
  // This is tricky as lazyloading will work depending on the height
  max-height: max(rem(300), rem(380));
  overflow-y: auto;
}

.b-table-sticky-header > .table.b-table > thead {
  position: sticky;
  top: 0;
  z-index: 3;
}

.table thead tr + tr th {
  border-bottom: none;
  background-color: $grey_extralight;
}

.default-width-column {
  width: 150px;
}
