// Text color
.text-grey_darklight {
  color: $grey_darklight;
}

.text-purple {
  color: $purple;
}

// Background color
.bg-violet_extralight {
  background-color: $violet_extralight;
}

.bg-prestashop-bg {
  background-color: $background-color;
}
