.text-muted a[target="_blank"],
a[target="_blank"].text-muted {
  a[target="_blank"] {
    color: $grey_muted;
  }
}

a[target="_blank"] {
  color: inherit !important;

  &:not(.btn) {
    text-decoration: underline;

    &:active,
    &:visited {
      // TODO:
      // Need to discuss about this, it's bad for UX at the moment
      color: inherit !important;
    }

    &:hover,
    &:focus {
      color: $blue !important;
    }
  }

  &::after {
    content: "launch";
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.45em;
    text-decoration: none;
  }
}

.ps_gs-ps-account-card a[target="_blank"]:after {
  content: none;
}

.icon-busy {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  color: #fff;
  border-style: solid;
  border-width: 0.15rem;
  border-top-color: #FFFFFF;
  border-right-color: $blue_light;
  border-bottom-color: $blue_light;
  border-left-color: #FFFFFF;
  border-radius: 1rem;
  outline: none;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;

  &--dark {
    border-top-color: $blue;
    border-right-color: $blue_light;
    border-bottom-color: $blue_light;
    border-left-color: $blue;
  }
}

.badge {
  font-size: rem(12);
}

.badge-muted {
  background-color: $grey_light;
  color: $grey_muted;
}

.btn-sm {
  font-size: rem(14);
}

.table-borderless {
  border: none;
}

.color-grey_darklight {
  color: $grey_darklight;
}

.text-purple {
  color: $purple;
}

.bg-violet_extralight {
  background-color: $violet_extralight;
}

.ps_gs-required::before {
  content: '*';
  margin-right: 0.5ch;
  color: $danger;
}
