a[target="_blank"]:not(.external_link-no_icon) {

  &:not(.btn) {
    color: inherit !important;
    text-decoration: underline;

    &:active,
    &:visited {
      // TODO:
      // Need to discuss about this, it's bad for UX at the moment
      color: inherit !important;
    }

    &:hover,
    &:focus {
      color: $blue !important;
    }
    &::after {
      content: "\e895"; // "launch" icon
      font-family: 'Material Icons';
      -webkit-font-feature-settings: 'liga';
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.18em;
      text-decoration: none;
    }
  }
}

.text-muted a[target="_blank"]:not(.external_link-no_icon),
a[target="_blank"].text-muted:not(.external_link-no_icon) {
  color: $grey_muted !important;
}

.text-muted a.with-hover,
a.text-muted.with-hover {
  color: $grey_muted !important;

  &:hover, &:focus {
    color: $blue !important;
  }
}

a.without-hover {
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.custom-banner-padding {
  padding: 16px;
}

.ps_gs-ps-account-card a[target="_blank"]:after {
  content: none !important;
}

.title-size-h3 {
  font-size: 1rem;
}

.icon-busy {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  color: #fff;
  border-style: solid;
  border-width: 0.15rem;
  border-top-color: #FFFFFF;
  border-right-color: $purple-050;
  border-bottom-color: $purple-050;
  border-left-color: #FFFFFF;
  border-radius: 1rem;
  outline: none;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;

  &--dark {
    border-top-color: $blue;
    border-right-color: $purple-050;
    border-bottom-color: $purple-050;
    border-left-color: $blue;
  }

  &--big {
    width: rem(20);
    height: rem(20);
    border-width: 0.3rem;
  }
}

.link-regular {
  color: inherit;
}

.badge {
  font-size: rem(12);
}

.badge-prescan {
  width: calc(2.5ch + 1rem);
}

.badge-muted {
  background-color: $grey_light;
  color: $grey_muted;
}

.vs__dropdown-toggle {
  cursor: pointer!important;
}

.table-borderless {
  border: none;
}

.ps_gs-required::before {
  content: '*';
  margin-right: 0.5ch;
  color: $danger;
}

.ps_gs-cursor-disabled {
  cursor: not-allowed;
}

.ps_gs-fz-14[class^="material-icons"] {
  width: rem(14);
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.ps_gs-mw-200 {
  max-width: 200px;
}
.ps_gs-mw-90 {
  max-width: 90px;
}

.ps_gs-mw-760 {
  max-width: 760px;
}

.min-input-custom {
  max-width: 50px;
}

.w-90 {
  width: 90%!important;
}

.circle {
  border-radius: 50%;
  min-width: 30px;
  min-width: 30px;
  line-height: 30px;
  font-size: 17px;
  text-align: center;
  box-sizing: inherit!important;
}

.two-panel-max-width {
  max-width: 1240px;
}

.step-done-icons {
  font-size: 30px!important;
  font-weight: 900!important;
}
