& {
  margin: 0px;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363a41;
  text-align: left;
}

& .nav-pills {
  position: sticky;
  top: 136px;
  margin-bottom: 20px;
}

& > *:not(.nav) {
  padding-left: 15px;
  padding-right: 15px;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
