.btn-sm {
  font-size: rem(14);
}

.alert .btn-outline-secondary {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.alert .btn-secondary {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.text-secondary.btn-invisible {
  &:hover, &:focus {
    color: $primary !important;
  }
}
