.ps_gs-categories-list {
  @extend .maxw-sm-500;
  max-height: 254px;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid $gray-450;
  padding: rem(18) 0 rem(18) rem(18);
  margin-top: rem(10);

  &,
  .ps_gs-categories-list__item-children {
    list-style: none;
  }

  > .ps_gs-categories-list__item {
    margin-top: 0;
  }

  &__item {
    position: relative;
    margin-top: rem(10);
    padding-left: rem(24);

    &-button {
      position: absolute;
      padding: 0;
      left: 0;
    }

    &-checkbox {

    }

    &-children {
      padding-left: 0;
      margin-top: rem(10);
      padding-right: rem(18);
    }
  }
}
