.ps_gs-filters {
  height: 332px;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid $gray-450;
  padding: rem(18) 0 rem(18) rem(18);
  margin-top: rem(10);
  margin-bottom: 0;

  &,
  .ps_gs-filters__item-children {
    list-style: none;
  }

  > .ps_gs-filters__item {
    margin-top: 0;
  }

  &__item {
    position: relative;
    margin-top: rem(10);
    padding-left: rem(24);

    &-button {
      position: absolute;
      padding: rem(2) rem(4) !important;
      left: rem(-8);
      top: rem(-4);
    }
    &-button--with-label {
      i {
        position: absolute;
        padding: rem(2) rem(4) !important;
        left: rem(-8);
      }
    }

    &-children {
      padding-left: 0;
      margin-top: rem(10);
      padding-right: rem(18);
    }
  }

}
.b-form-tags-input {
  display: none;
}
