.ps_gs-filters {
  height: 332px;
  overflow: auto;
  border: 1px solid $gray-450;
  padding: rem(18) 0 rem(18) rem(18);
  margin-bottom: 0;

  &,
  .ps_gs-filters__item-children {
    list-style: none;
  }

  > .ps_gs-filters__item:first-child {
    margin-top: 0;
  }

  &__item {
    position: relative;
    margin-top: rem(10);
    padding-left: rem(24);

    &-checkbox {
      margin-right: 0;
      display: flex;

      label {
        display: flex;
        flex-grow: 1;
      }
    }

    &-button {
      position: absolute;
      padding: rem(2) rem(4) !important;
      left: rem(-8);
      top: rem(-4);
    }
    &-button--with-label {
      i {
        position: absolute;
        padding: rem(2) rem(4) !important;
        left: rem(-8);
      }
    }

    &-children {
      padding-left: 0;
      margin-top: rem(10);
      // padding-right: rem(18);
    }
  }
}

.ps_gs-selected-filters {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: rem(8);
  border-radius: 0 0 3px 3px;
  border-right: 1px solid $gray-450;
  border-bottom: 1px solid $gray-450;
  border-left: 1px solid $gray-450;

  &__badges {
    max-height: calc(1.5 * 1rem * 3);
    overflow: auto;
  }
}
