.ps_gs-landingpage-content {
  &__figure {

  }

  &__title {
    font-size: rem(21);
    font-weight: 600;
  }

  &__text {
    font-size: rem(14);
  }

  &__muted {
    font-size: rem(12);
    line-height: 1.4em;
  } 
}