.ps_gs-modal {
  &__title {
    font-weight: 600;
    font-size: rem(18);
  }

  &__content {
    border-radius: 0;
  }

  &__footer {
    padding-top: rem(8);

    @include media-breakpoint-down(xs) {
      justify-content: center;
    }

    .btn {
      white-space: unset;
    }
  }

  & + .modal-backdrop {
    background: $overlay-popin;
  }
}
