.ps_gs-onboardingcard {
  border: none;
  margin-bottom: rem(16);

  &--disabled {
    color: $grey_muted;
  }

  &--disabled-grey {
    background-color: $bg-grey_disabled;
    color: $grey_muted;
  }

  &--muted {
    background-color: $bg-grey_disabled;
  }

  &__title {
    font-size: rem(16);
    line-height: rem(22.5);
    font-weight: 600;
  }

  &__not-configured {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
    @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
      background-color: transparent;
      backdrop-filter: blur(8px);
    }
  }
}

.ps_gs-section-title ~ .ps_gs-section-title {
  margin-top: rem(32);

  @include media-breakpoint-up(md) {
    margin-top: rem(48);
  }
}
