$stepWidth: rem(32);
$stepWidthMobile: rem(42);

.ps_gs-stepper {
  @include media-breakpoint-up(sm) {
    display: flex;

    &.vertical {
      flex-direction: column;
    }
  }
}

.ps_gs-stepper-step {
  @include media-breakpoint-down(xs) {
    display: none;
    position: static;

    &.active {
      display: block;
    }

    .ps_gs-stepper-step__link {
      display: flex;
    }

    &.active {

      .ps_gs-stepper-step__step {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: $stepWidthMobile;
        height: $stepWidthMobile;
        display: flex;
        font-size: rem(18) !important;

        span {
          font-size: rem(12);

          &:after {
            content: ' / ' attr(data-stepperLength);
            color: $grey_muted;
          }
        }
      }

      .ps_gs-stepper-step__title {
        text-align: left;
        font-size: rem(16);
        padding-left: $stepWidthMobile + rem(16) !important;

        &::after {
          content: attr(data-nextStep);
          display: block;
          font-size: rem(12);
          color: $grey_muted !important;
        }
      }
    }
  }
}

.ps_gs-stepper-step {
  $root: '.ps_gs-stepper-step';
  list-style: none;

  @include media-breakpoint-up(sm) {
    z-index: 1;
    text-align: center;
    max-width: 130px;
    margin-bottom: rem(16);
    position: relative;

    &.vertical {
      max-width: unset;
    }

    &__link {
      display: inline-block;

      &.vertical {
        display: flex;
        align-items: center;
      }
    }

    a#{$root}__link:hover, a#{$root}__link:focus {
      text-decoration: none;

      #{$root}__title {
        color: $blue !important;
        text-decoration: underline;
      }
    }


    &__title {
      text-align: center;
      color: $grey_muted;

      &:not(.vertical) {
        font-size: rem(12);
      }
    }

    .ps_progress-ring {
      display: none;
    }

    &.active,
    &.complete {
      #{$root}__step {
        background-color: $blue;
        border-color: $blue;
        color: #fff;
        font-weight: 600;
      }

      #{$root}__title {
        color: $grey_dark;
      }
    }

    &.active ~ #{$root} {
      &::after {
        content:'';
        display: block;
        position: absolute;
        background: $grey_median;

        height: 2px;
        top: calc(#{$stepWidth} / 2 - 1px);
        left: calc(-50% + #{$stepWidth} / 2);
        width: calc(100% - #{$stepWidth});
      }

      &.vertical::after {
        width: 2px;
        height: 50%;
        left: calc(#{$stepWidth} / 2 - 1px);
        top: calc(-#{$stepWidth} / 2);
      }
    }


    &__step {
      width: $stepWidth;
      height: $stepWidth;
      font-size: 0.875rem;
      color: $grey_muted;
      background-color: #fff;
      border: 2px solid $grey_median;
      border-radius: 50%;
      margin: 0 auto .5rem;

      &.vertical {
        margin: 0;
      }
    }


    &.complete,
    &.active {

      &::before {
        content: '';
        display: block;
        position: absolute;
        background: $blue;
        z-index: -1;
        height: 2px;
        width: 50%;
        top: calc(#{$stepWidth} / 2 - 1px);
      }

      &.vertical::before {
        width: 2px;
        height: 50%;
        left: calc(#{$stepWidth} / 2 - 1px);
        top: calc(#{$stepWidth} );
      }
    }

    &:not(.vertical) {
      &.active:first-child::before {
        width: 0;
      }
  
      &.complete::before {
        right: 0;
      }
  
      &.complete + #{$root}.complete::before {
        left: 0;
        width: 100%;
      }
  
      &.complete + #{$root}.complete:last-child::before {
        width: 50%;
      }
  
      &.complete + #{$root}.active::before {
        left: 0;
      }
    }

    &.vertical {
      &.active:first-child::before {
        height: 0;
      }
  
      &.complete::before {
        bottom: 0;
      }
  
      &.complete + #{$root}.complete::before {
        bottom: 0;
        height: 100%;
      }
  
      &.complete + #{$root}.complete:last-child::before {
        height: 50%;
      }
  
      &.complete + #{$root}.active::before {
        top: 0;
      }
    }
  }
}
