$stepWidth: rem(32);

.ps_gs-stepper {

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: $grey_median;
  }

  @include media-breakpoint-down(sm) {
    &::before {
      margin: 0 auto;
      width: 2px;
      left: calc(#{$stepWidth} / 2 - 1px);
      top: calc(#{$stepWidth} / 2);
      bottom: calc(#{$stepWidth} / 2);
    }
  }

  @include media-breakpoint-up(sm) {
    display: flex;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: $grey_median;
      margin: 0 auto;
      height: 2px;
      width: 80%;
      top: calc(#{$stepWidth} / 2 - 1px);
      left: 0;
      right: 0;
    }
  }
}

.ps_gs-stepper-step {
  list-style: none;
  z-index: 1;

  @include media-breakpoint-down(xs) {
    display: flex;
    align-items: center;
    padding: rem(4) 0;
    margin-bottom: 0;
  }

  &.active,
  &.complete {
    .ps_gs-stepper-step__step {
      background-color: $blue;
      border-color: $blue;
      color: #fff;
      font-weight: 600;
    }

    .ps_gs-stepoper-step__title {
      color: $grey_dark;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: rem(16);
  }

  &__step {
    width: $stepWidth;
    height: $stepWidth;
    margin: 0 1rem 0 0;
    font-size: 0.875rem;
    color: $grey_muted;
    background-color: #fff;
    border: 2px solid $grey_median;
    border-radius: 50%;

    @include media-breakpoint-up(sm) {
      margin: 0 auto .5rem;
    }
  }

  &.complete::before,
  &.active::before {
    content: '';
    display: block;
    position: absolute;
    background: $blue;
    z-index: -1;
  }

  @include media-breakpoint-down(xs) {
    &.complete::before,
    &.active::before {
      width: 2px;
      top: 0;
      bottom: 50%;
      left: calc(#{$stepWidth} / 2 - 1px);
    }

    &.complete:first-child::before,
    &.active:first-child::before {
      top: calc(#{$stepWidth} / 2);
    }

    &.complete::before {
      bottom: 0;
    }

    &.complete + #{&}.complete:before {
      top: 0;
      bottom: 0;
    }

    &.complete + #{&}.active::before {
      top: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    &.complete::before,
    &.active::before {
      height: 2px;
      width: 50%;
      top: calc(#{$stepWidth} / 2 - 1px);
    }

    &.active:first-child::before {
      width: 0;
    }

    &.complete::before {
      right: 0;
    }

    &.complete + #{&}.complete:before {
      left: 0;
      width: 100%;
    }

    &.complete + #{&}.active::before {
      left: 0;
    }
  }
}
