.ps_gs-productfeed {
  &__products-status {
    .stretched-link {
      &::after{
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
      }

      &:hover::after {
        animation: linearBorder .3s both;

        @keyframes linearBorder {
          0% {
            border: 1px solid $white;
          }
        
          100% {
            border: 1px solid;
            border-color: $primary;
          }
        }
      }
    }
  }

  &__badge {
    border-radius: 0;
    .card-body {
      padding: 4px 8px 4px 8px;
    }
  }
}
