.ps_gs-breadcrumb {
  &__item {
    $item: '.ps_gs-breadcrumb__item';
    display: flex;
    font-size: rem(12);
    font-weight: 600;

    @include media-breakpoint-up(md) {
      font-size: rem(16);
    }

    @include media-breakpoint-down(sm) {
      line-height: 1.2em;
    }

    & + #{$item}::before {
      content: '\e315'; // "keyboard_arrow_right" icon
      font-family: 'Material Icons';
      margin-right: rem(8);
      color: $primary-500;
    }
  }

  &__link {
    color: $primary;
  }

  &__icon {
    @include media-breakpoint-down(sm) {
      width: rem(24);
      height: rem(24);
      margin-right: rem(8);
    }

    margin-right: rem(16);
  }
}
