.input-text-with-tag {
  padding: 2px 0;
  .container {
    height: 100%;
    border: solid 1px $primary-400;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 5px 12px;
    line-height: 19px;
  
    &.has-error {
      background-color: $red-50;
      border: solid #BA151A 1px;
    }
  
    .tag {
      display: flex;
      flex-grow: 1;
      max-width: fit-content;
      background-color: $primary-300;
      padding: 4px 8px;
  
      .material-icons {
        background-color: transparent;
        border: none;
        font-size: 16px;
        margin-left: 6px;
      }
    }
  
    input[type="text"] {
      border: none;
      box-shadow: none;
      flex-grow: 2;
      flex-shrink: 2;
      width: 60px;
      background-color: transparent;
  
      &:focus-visible {
        border: none;
        outline: none;
      }

      &[disabled="disabled"] {
        color: $primary-600;
      }
    }
  }

  .invalid-feedback {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 400;
  }
}