.ps_gs-kpi-card {
  border-radius: 0;
  &__tooltip {
    position: absolute;
    top: 0;
    right: 0;
    padding: rem(2) rem(6);

    &-icon {
      font-size: rem(14) !important;
      width: rem(14);
    }
  }
}
