.ps_gs-landingpage-content {
  & + & {
    margin-top: rem(16);

    @include media-breakpoint-up(md) {
      margin-top: rem(50);
    }
  }

  &__title {
    font-size: rem(21);
    font-weight: 600;
  }

  &__text {
    font-size: rem(14);
  }

  &__muted {
    font-size: rem(12);
    line-height: 1.4em;
  }
}
