.ps_gs-onboardingcard {
  border-width: 0;

  &--disabled {
    color: $grey_darklight;

    img {
      opacity: 0.5;
    }
  }

  &--disabled-grey {
    background-color: $bg-grey_disabled;
    color: $grey_muted;
  }

  &--muted {
    background-color: $bg-grey_disabled;
  }

  &__title {
    font-size: rem(16);
    line-height: rem(22.5);
    font-weight: 600;
  }

  &__content {
    padding-left: 32px;
  }

  &__not-configured {
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
    @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
      background-color: transparent;
      backdrop-filter: blur(8px);
    }
  }
}

  
  
section {
  &:not(:last-child) {
    .ps_gs-onboardingcard {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;

      padding-bottom: 0 !important;

      &::after {
        content: '';
        border-top: 2px solid $background-color;
        display: block;
        margin-top: 1rem;
      }
    }
  }

  &:not(:first-child) {
    .ps_gs-onboardingcard {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
    }
  }
}

.ps_gs-section-title ~ .ps_gs-section-title {
  margin-top: rem(32);

  @include media-breakpoint-up(md) {
    margin-top: rem(48);
  }
}
