.ps_gs-productfeed-report-card {
  $root: &;

  border: 1px solid $grey_light;
  border-radius: 3px;
  margin-top: rem(4);
  margin-bottom: rem(4);

  @include media-breakpoint-up(sm) {
    margin: rem(4);
  }

  flex-basis: 100%;

  @include media-breakpoint-up(sm) {
    flex: 0 0 calc(100% - 4px - 4px);
    max-width: calc(100% - 4px - 4px);

    &.ps_gs-productfeed-report-card--33 {
      flex: 0 0 calc(33.33333% - 4px - 4px);
      max-width: calc(33.33333% - 4px - 4px);
    }

    &.ps_gs-productfeed-report-card--66 {
      flex: 0 0 calc(66.66666% - 4px - 4px);
      max-width: calc(66.66666% - 4px - 4px);
    }
  }

  &__details {
    max-height: rem(12) * 2 * (1.4 * 12); // Font size * Nb of lines * line height * font-size
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
