.sync-history {
  $iconWidth: rem(20);

  // Available icons
  $icons: 'check_circle', 'schedule', 'error', 'change_circle', 'info';
  // Available colors
  $lineColors: ('danger' : $danger, 'info': $primary);

  width: 280px;
  max-width: 100%;

  &__item {
    display: flex;
    align-items: start;

    &:not(:last-child) {
      padding-bottom: rem(40);
    }

    &[class*="icon"]::before {
      font-family: 'Material Icons';
      font-size: $iconWidth;
      line-height: 1em;
      -webkit-font-feature-settings: 'liga';
      margin-right: rem(10);
      margin-top: -#{rem(2)};
      color: $primary;
      font-size: $iconWidth;
    }

    @each $icon in $icons {
      &[class*="--icon-#{$icon}"]::before {
        content: $icon;
        @if $icon == 'error' {
          color: $danger;
        }
      }
    }

    &[class*="bg"] {
      background-repeat: no-repeat;
      background-position: left 0 top calc(#{$iconWidth} - #{rem(4)});
    }

    @each $lineColorName, $lineColorValue in $lineColors {
      &[class*="--bg-#{$lineColorName}"] {
        &:not(:last-child) {
          background-image:
            linear-gradient(to right,
              transparent calc(#{$iconWidth} / 2 - 1px),
              map-get($lineColors, $lineColorName) calc(#{$iconWidth} / 2 - 1px),
              map-get($lineColors, $lineColorName) calc(#{$iconWidth} / 2 + 1px),
              transparent calc(#{$iconWidth} / 2 + 1px));
        }

        h3 {
          color: map-get($lineColors, $lineColorName);
        }
      }
    }

    &-title {
      font-size: rem(16);
      font-weight: 500;
      line-height: $iconWidth;
      margin-bottom: 0;
      margin-top: -#{rem(4)};
    }

    &-description {
      font-size: rem(14);
      color: $secondary;
    }
  }
}
