$stepWidth: rem(20);
$stepWidthMobile: rem(42);

.ps_gs-alert-timeline {
  padding: rem(20) rem(12) rem(12);
  border-radius: rem(3);
  background: #F4FCFD;

  .close {
    color: $secondary;
    font-weight: normal;
  }
}

.ps_gs-alert-timeline::before {
  display: none;
}

.ps_gs-alert-timeline .ps_gs-timeline {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.ps_gs-timeline-step {
  $root: '.ps_gs-timeline-step';
  list-style: none;
  z-index: 1;
  text-align: center;
  max-width: 200px;
  position: relative;

  &__content {
    text-align: left;
  }

  &__title {
    font-size: rem(14);
    font-weight: 600;
    color: $grey_dark;
    margin-bottom: 0;
  }

  &__title + #{$root}__subtitle {
    font-size: rem(12);
    color: $grey_muted;
    margin-bottom: 0;
  }

  &__step {
    width: $stepWidth;
    height: $stepWidth;
    font-size: rem(16);
    font-weight: 600;
    color: $white;
    background-color: $primary;
    border: 2px solid $primary;
    border-radius: rem(4);
    margin: 0 auto .5rem;
  }


  @include media-breakpoint-up(sm) {
    &__content {
      text-align: center;
    }

    & ~ #{$root}::after {
      content:'';
      display: block;
      position: absolute;
      background: $primary;
      height: 2px;
      top: calc(#{$stepWidth} / 2 - 1px);
      left: calc(-50% + #{$stepWidth} / 2);
      width: calc(100% - #{$stepWidth});
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: $blue;
      z-index: -1;
      height: 2px;
      width: 50%;
      top: calc(#{$stepWidth} / 2 - 1px);
    }

    &::before {
      right: 0;
    }

    & + #{$root}::before {
      left: 0;
      width: 100%;
    }

    & + #{$root}:last-child::before {
      width: 50%;
    }

    & + #{$root}::before {
      left: 0;
    }
  }
}

.ps_gs-timeline-step {
  $root: '.ps_gs-timeline-step';

  @include media-breakpoint-down(xs) {

    & + #{$root} {
      margin-top: rem(16);
    }

    &__link {
      display: flex;
    }

    &__step {
      flex-shrink: 0;
      margin: 0;
    }
  }
}
