// Colors
$grey_dark: #363A41;
$grey_muted: #6C868E;
$grey_darklight: #757575;
$grey_light: #E1E0EB;
$grey_extralight: #f6f6f6;
$grey_median: #B6B7B4;
$grey-disabled: #dadada;
$red-light: #F77B72;

$blue: #174EEF;
$black: #000000;
$green: #207F4B;
$red: #BA151A;
$yellow: #FFA000;

$purple-050: #E9E6F8;
$purple-100: #C7C0EE;
$purple-200: #A296E3;
$purple-500: #000000;
$purple-700: #3521BA;
$purple-900: #1F10A6;

$light-blue-050: #F8FAFC;
$light-blue-100: #EFF3F7;
$light-blue-200: #E4EBF2;
$light-blue-300: #D9E3EC;
$light-blue-500: #C8D7E4;
$light-blue-700: #BBCDDD;
$light-blue-900: #A7BED1;

$off-white: #FBFEFF;

$purple: $purple-500;
$primary: $black;
$info: $purple;
$success: $green;
$danger: $red;
$warning: $yellow;
$primary-lighten: $light-blue-050;


// Because !default is missing in the ui-kit variables,
// we have to reset some theme colors.
$primary-hover: rgba($primary, 0.65);
$primary-active: $primary;
$btn-primary-bg: $primary-hover;
$primary-disabled: $grey-disabled;
$theme-colors-hover: (
  "primary": $primary-hover,
);
$theme-colors-active: (
  "primary": $primary-active,
);

// Colors background
$bg-grey_disabled: #F6F6F6;
$violet_extralight: #FAF9FE;
$bg-grey_light: #D8D8D8;
$bg-green_light: #D4E9D9;

// Overlays
$overlay-popin: rgba($black, 0.65);

// Inputs
$custom-control-indicator-focus-border-color: $purple-200;
