// Colors
$primary-800: #1D1D1B;
$primary-700: #3f3f3d;
$primary-600: #5E5E5E;
$primary-500: #bbbbbb;
$primary-400: #dddddd;
$primary-300: #eeeeee;
$primary-200: #f7f7f7;

$green-500: #207F4B;
$green-300: #59AF70;
$green-100: #98D9A9;
$green-50: #EAF8EF;

$red-700: #A41913;
$red-500: #BA151A;
$red-300: #D63F3C;
$red-100: #FDBFBF;
$red-50: #FFE4E6;

$yellow-500: #FFA000;
$yellow-300: #FFD999;
$yellow-100: #FFECCC;
$yellow-50: #FFF5E5;

$amber-500: #F8E08E;
$amber-100: #FDF6DD;

$blue-700: #2942CC;
$blue-500: #174EEF;
$blue-300: #A2B8F9;
$blue-100: #D1DCFC;
$blue-50: #E8EDFD;

$grey_dark: $primary-700;
$grey_muted: $primary-700;
$grey_darklight: $primary-500;
$grey_light: #E1E0EB;
$grey_extralight: $primary-200;
$grey_median: $primary-400;
$grey-disabled: $primary-300;
$red-light: #F77B72;

$blue: $blue-500;
$black: #000000;
$green: $green-500;
$red: $red-500;
$yellow: $yellow-500;

$light-blue-050: #F8FAFC;
$light-blue-100: #EFF3F7;
$light-blue-200: #E4EBF2;
$light-blue-300: #D9E3EC;
$light-blue-500: #C8D7E4;
$light-blue-700: #BBCDDD;
$light-blue-900: #A7BED1;

$off-white: #FBFEFF;

$primary: $primary-800;
$secondary: $primary-600;
$info: $blue;
$success: $green;
$danger: $red;
$warning: $yellow;
$light: $primary-400;
$primary-lighten: $light-blue-050;
$text-muted: $primary-600;

$link-color: $blue;
$link-hover-color: $blue-700;

$nav-pills-link-active-bg: transparent;


// Because !default is missing in the ui-kit variables,
// we have to reset some theme colors.
$primary-hover: $primary-500;
$primary-active: $primary;
$btn-primary-bg: $primary-hover;
$primary-disabled: $grey-disabled;
$theme-colors: (
  "secondary": $secondary,
);
$theme-colors-hover: (
  "primary": $primary-hover,
);
$theme-colors-active: (
  "primary": $primary-active,
);
$alerts-second-colors: (
  "success": $green,
  "info": $blue,
  "warning": $yellow,
  "danger": $red,
);
$alerts-background-colors: (
  "success": $green-50,
  "info": $blue-50,
  "warning": $yellow-50,
  "danger": $red-50,
);

// Colors background
$bg-grey_disabled: #F6F6F6;
$violet_extralight: #FAF9FE;
$bg-grey_light: $primary-400;
$bg-green_light: #D4E9D9;

// Overlays
$overlay-popin: rgba($black, 0.65);

// Inputs
$custom-control-indicator-focus-border-color: $primary-600;

// Fonts
$font-family-sans-serif: "IBM Plex Sans","Open Sans",Helvetica,Arial,sans-serif;
$headings-font-family: $font-family-sans-serif;

$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

// Border radius
$border-radius: 0 !important;
$card-border-radius: $border-radius !important;
$dropdown-border-radius: 0 !important;
