// Colors
$primary-800: #1D1D1B;
$primary-700: #3f3f3d;
$primary-600: #5E5E5E;
$primary-500: #bbbbbb;
$primary-400: #dddddd;
$primary-300: #eeeeee;
$primary-200: #f7f7f7;

$grey_dark: $primary-700;
$grey_muted: $primary-700;
$grey_darklight: $primary-500;
$grey_light: #E1E0EB;
$grey_extralight: $primary-200;
$grey_median: $primary-400;
$grey-disabled: $primary-300;
$red-light: #F77B72;

$blue-050: #E8EDFD;
$blue-100: #D1DCFC;
$blue-300: #A2B8F9;
$blue-500: #174EEF;
$blue-700: #2942CC;

$blue: $blue-500;
$black: #000000;
$green: #207F4B;
$red: #BA151A;
$yellow: #FFA000;

$purple-050: #E9E6F8;
$purple-100: #C7C0EE;
$purple-200: #A296E3;
$purple-500: #000000;
$purple-700: #3521BA;
$purple-900: #1F10A6;

$light-blue-050: #F8FAFC;
$light-blue-100: #EFF3F7;
$light-blue-200: #E4EBF2;
$light-blue-300: #D9E3EC;
$light-blue-500: #C8D7E4;
$light-blue-700: #BBCDDD;
$light-blue-900: #A7BED1;

$off-white: #FBFEFF;

$purple: $purple-500;
$primary: $primary-800;
$info: $purple;
$success: $green;
$danger: $red;
$warning: $yellow;
$primary-lighten: $light-blue-050;
$text-muted: $grey_muted;

$link-color: $blue;
$link-hover-color: $blue-700;

$nav-pills-link-active-bg: transparent;


// Because !default is missing in the ui-kit variables,
// we have to reset some theme colors.
$primary-hover: $primary-500;
$primary-active: $primary;
$btn-primary-bg: $primary-hover;
$primary-disabled: $grey-disabled;
$theme-colors-hover: (
  "primary": $primary-hover,
);
$theme-colors-active: (
  "primary": $primary-active,
);
$alerts-second-colors: (
  "success": $green,
  "info": $blue-700,
  "warning": $yellow,
  "danger": $red,
);

// Colors background
$bg-grey_disabled: #F6F6F6;
$violet_extralight: #FAF9FE;
$bg-grey_light: $primary-400;
$bg-green_light: #D4E9D9;

// Overlays
$overlay-popin: rgba($black, 0.65);

// Inputs
$custom-control-indicator-focus-border-color: $primary-600;

// Fonts
$font-family-sans-serif: "IBM Plex Sans","Open Sans",Helvetica,Arial,sans-serif;
$headings-font-family: $font-family-sans-serif;
