.table-firstline-borderless {
  tbody tr:first-child td {
    border: none;
  }

  td ~ td {
    @include media-breakpoint-down(sm) {
      border-top: 0
    }
  }
}

.table.b-table[class*="b-table-stacked"] > tbody > tr > :first-child {
  border-top-width: 1px;
}
