.ps_gs-landingpage {
  $root: '.ps_gs-landingpage';

  padding: rem(24);

  &#{$root}--small-padding {
    padding: rem(16);
  }

  @include media-breakpoint-up(md) {
    padding: rem(32);

    .ps_gs-landingpage-content__figure {
      max-width: 40%;
    }
  }

  &-content + hr {
    @include media-breakpoint-up(md) {
      margin-top: rem(50) !important;
    }
  }
}
