.gs-product-selection {
  .methods-synch {
    max-width: 808px;
  }
  .filters {
    margin-top: 16px;

    .line-filter {
      background-color: $primary-200;  
      padding: 24px;
    } 

    .delete-filter {
      background-color: $red-50;
      border-radius: 100%;
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      .material-icons {
        color: $red-100;
      }
    }
  } 
}