// Text color
.text-grey_darklight {
  color: $grey_darklight;
}

.text-primary-500 {
  color: $primary-500;
}

.text-primary-600 {
  color: $primary-600;
}

.text-primary-700 {
  color: $primary-700;
}

.bg-circle-disabled {
  background: $bg-grey_light;
  color: $gray-600;
}

.bg-circle-active {
  background: $bg-green_light;
  color: $success;
}

// Background color
.bg-violet_extralight {
  background-color: $violet_extralight;
}

.bg-prestashop-bg {
  background-color: $background-color;
}

.bg-ocean-blue-50 {
  background-color: $ocean-blue-50;
}

.border-450 {
  border-color: $gray-450 !important;
}

[class*="border"].border-600-20 {
  border-color: rgba($gray-600, 0.2) !important;
}

.text-danger-light {
  color: $red-light;
}

