a:not(.btn):not(.nav-link) {
  text-decoration-color: $primary-500 !important;
  text-decoration-thickness: auto;
  text-underline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  
  &:hover {
    text-underline-offset: 5px;
    text-decoration-color: $primary-800 !important;
  }
 
  &:visited {
    color: $purple-700;
  }

  &[target="_blank"]:not(.external_link-no_icon) {

    &:not(.btn) {
      text-decoration: underline;

      &::after {
        content: "\e895"; // "launch" icon
        font-family: 'Material Icons';
        -webkit-font-feature-settings: 'liga';
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.18em;
        text-decoration: none;
      }
    }
  }
}

a.without-hover {
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.ps_gs-ps-account-card a[target="_blank"]:after {
  content: none !important;
}

.bg-off-white {
  background-color: $off-white;
}

.title-size-h3 {
  font-size: 1rem;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-busy {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  color: #fff;
  border-style: solid;
  border-width: 0.15rem;
  border-top-color: #FFFFFF;
  border-right-color: $light-blue-200;
  border-bottom-color: $light-blue-200;
  border-left-color: #FFFFFF;
  border-radius: 1rem;
  outline: none;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;

  &--dark {
    border-top-color: $primary;
    border-right-color: $light-blue-200;
    border-bottom-color: $light-blue-200;
    border-left-color: $primary;
  }

  &--big {
    width: rem(20);
    height: rem(20);
    border-width: 0.3rem;
  }
}

.link-regular {
  color: inherit;
}

.badge {
  font-size: rem(12);
}

.badge-prescan {
  width: calc(2.5ch + 1rem);
}

.badge-muted {
  background-color: $grey_light;
  color: $grey_muted;
}

.vs__dropdown-toggle {
  cursor: pointer!important;
}

.table-borderless {
  border: none;
}

.ps_gs-required::before {
  content: '*';
  margin-right: 0.5ch;
  color: $danger;
}

.ps_gs-cursor-disabled {
  cursor: not-allowed;
}

.ps_gs-fz-14[class^="material-icons"] {
  width: rem(14);
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.ps_gs-mw-200 {
  max-width: 200px;
}
.ps_gs-mw-90 {
  max-width: 90px;
}

.ps_gs-mw-760 {
  max-width: 760px;
}

.min-input-custom {
  max-width: 50px;
}

.w-90 {
  width: 90%!important;
}

.circle {
  border-radius: 50%;
  min-width: 30px;
  min-width: 30px;
  line-height: 30px;
  font-size: 17px;
  text-align: center;
  box-sizing: inherit!important;
}

.two-panel-max-width {
  max-width: 1240px;
}

.step-done-icons {
  font-size: 30px!important;
  font-weight: 900!important;
}

.container-md {
  max-width: 718px;
  margin-left: auto;
  margin-right: auto;
}