& {
  margin: 0px;
  font-family: "IBM Plex Sans","Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363a41;
  text-align: left;
}

& > *:not(.ps_gs-sticky-head) {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 959px;
  margin-left: auto;
  margin-right: auto;
}

@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round');
