#psxMktgWithGoogleApp {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

#configuration {
  max-width: inherit;
}

.ps_gs-section-title {
  display: flex;
  align-items: start;
  font-size: rem(20);
  line-height: rem(27);
  font-weight: 600;

  &--disabled {
    color: $grey_muted;
  }

  &__step {
    width: rem(24);
  }
}

.stepper-onboarding-subtitle {
  padding-left: 3.4rem!important;
  width: 90%;
}

.ps_gs-fz-24 {
  font-size: rem(24) !important;
}

.ps_gs-fz-22 {
  font-size: rem(22) !important;
}

.ps_gs-fz-20 {
  font-size: rem(20) !important;
}

.ps_gs-fz-18 {
  font-size: rem(18) !important;
}

.ps_gs-fz-16 {
  font-size: rem(16);
  margin-bottom: rem(8);
}

.ps_gs-fz-14 {
  font-size: rem(14) !important;
}

.ps_gs-fz-13 {
  font-size: rem(13) !important;
}

.ps_gs-fz-12 {
  font-size: rem(12) !important;

  p {
    margin-bottom: 0;

    & + p {
      margin-top: rem(12);
    }
  }
}

.ps_gs-fz-10 {
  font-size: rem(10) !important;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-first-letter-uppercase:first-letter {
  text-transform: uppercase;
}

.line-height-15 {
  line-height: 1.5;
}

.line-height-13 {
  line-height: 1.3;
}
