// Colors
$grey_dark: #363A41;
$grey_muted: #6C868E;
$grey_darklight: #757575;
$grey_light: #E5E8EA;
$grey_extralight: #f6f6f6;
$grey_median: #B6B7B4;
$grey-disabled: #dadada;
$red-light: #F77B72;

$blue_light: #BEEAF3;
$blue_medium: #66CEE3;
$blue: #25B9D7;
$blue_dark: #21A6C1;

$purple: #442CC7;

// Colors background
$bg-grey_disabled: #F6F6F6;
$violet_extralight: #FAF9FE;
$blue_extralight: #FBFEFF;

// Overlays
$overlay-popin: rgba(black, 0.65);
