// Colors
$grey_dark: #363A41;
$grey_muted: #6C868E;
$grey_darklight: #757575;
$grey_light: #E1E0EB;
$grey_extralight: #f6f6f6;
$grey_median: #B6B7B4;
$grey-disabled: #dadada;
$red-light: #F77B72;

// TODO: Rename these variables
$blue_light: #E9E6F8;
$blue_medium: #C7C0EE;
$blue: #442CC7;
$blue_dark: #442CC7;

$purple: #442CC7;
$green: #21834D;
$primary: $purple;
$info: $purple;
$success: $green;


// Colors background
$bg-grey_disabled: #F6F6F6;
$violet_extralight: #FAF9FE;
$blue_extralight: #FBFEFF;
$bg-grey_light: #D8D8D8;
$bg-green_light: #D4E9D9;

// Overlays
$overlay-popin: rgba(black, 0.65);
