name: Build module artifact & deploy

on: [push, pull_request]

env:
  PNPM_VERSION: 8
  NODE_VERSION: 20

jobs:
  build:
    name: Build dependencies & create artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
          cache-dependency-path: '_dev/pnpm-lock.yaml'

      - name: Install & build
        working-directory: _dev
        run: |
          pnpm install
          pnpm -r build

      - name: Install dev composer dependencies
        run: composer install

      - name: Generate index.php
        run: vendor/bin/autoindex

      - name: Install prod composer dependencies
        run: composer install --no-dev

      - name: Clean-up project
        uses: PrestaShopCorp/github-action-clean-before-deploy@v1.0

      - name: Create directory with repo name and copy files
        run: |
          mkdir ${{ github.event.repository.name }}
          rsync -av --exclude ${{ github.event.repository.name }} . ./${{ github.event.repository.name }}

      - name: Create & upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}
          path: ${{ github.event.repository.name }}/
