name: CDN Publish

on:
  release:
    types: [prereleased, released]
  push:
    branches:
      - master

env:
  WORKFLOW: googleshopping-storage.yml
  NODE_VERSION: 14
  VUE_PATH: _dev
  BUILD_PATH: views

jobs:
  publish:
    name: CDN publish
    runs-on: ubuntu-latest
    steps:
      - name: Get tag
        id: get_tag
        run: echo ::set-output name=TAG::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Trigger storage production
        if: github.ref != 'refs/heads/master'
        uses: aurelien-baudet/workflow-dispatch@v2
        with:
          workflow: ${{ env.WORKFLOW }}
          repo: PrestaShopCorp/services-deployment
          token: ${{ secrets.ACCESS_TOKEN }}
          ref: 'refs/heads/main'
          inputs: '{ "version": "${{ steps.get_tag.outputs.TAG }}", "nodeVersion": "${{ env.NODE_VERSION }}", "vuejsPath": "${{ env.VUE_PATH }}", "vuejsBuildPath": "${{ env.BUILD_PATH }}", "isRelease": "${{ !github.event.release.prerelease && true || false }}" }'

      - name: Trigger storage preproduction
        if: github.ref == 'refs/heads/master'
        uses: aurelien-baudet/workflow-dispatch@v2
        with:
          workflow: ${{ env.WORKFLOW }}
          repo: PrestaShopCorp/services-deployment
          token: ${{ secrets.ACCESS_TOKEN }}
          ref: 'refs/heads/main'
          inputs: '{ "version": "${{ steps.get_tag.outputs.TAG }}", "nodeVersion": "${{ env.NODE_VERSION }}", "vuejsPath": "${{ env.VUE_PATH }}", "vuejsBuildPath": "${{ env.BUILD_PATH }}", "isRelease": "${{ !github.event.release.prerelease && true || false }}", "environment": "preproduction" }'
