name: JS tests
on: [push, pull_request]
jobs:
  js-linter:
    name: JS linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
          cache: npm
          cache-dependency-path: '_dev/apps/ui/package-lock.json'

      - name: Lint JS files
        working-directory: _dev/apps/ui
        run: |
          npm install
          npm run lint

  unit-tests:
    name: JS Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '14'
          cache: npm
          cache-dependency-path: '_dev/apps/ui/package-lock.json'

      - name: Install & run
        working-directory: _dev/apps/ui
        run: |
          npm install
          npm run test:unit
