name: Storybook CI/CD

on:
  pull_request:
    types: [opened,edited,reopened,synchronize,labeled]
  push:
    branches:
      - master

env:
  WORKFLOW: googleshopping-storybook.yml
  NODE_VERSION: 20
  PATH: _dev/

jobs:
  integration:
    name: Integration - Storybook
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'Storybook Test')

    steps:
      - name: Get branch name
        id: branch
        uses: tj-actions/branch-names@v7

      - name: Trigger build and deploy
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: googleshopping-storybook.yml
          repo: PrestaShopCorp/services-deployment
          token: ${{ secrets.ACCESS_TOKEN_GITHUB }}
          ref: 'refs/heads/main'
          inputs: '{ "branch": "${{ steps.branch.outputs.current_branch }}", "nodeVersion": "${{ env.NODE_VERSION }}", "path": "${{ env.PATH }}", "issue": "${{ github.event.number }}" , "environment": "integration"}'

  production:
    name: Production - Storybook
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Get branch name
        id: branch
        uses: tj-actions/branch-names@v7

      - name: Trigger build and deploy
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: googleshopping-storybook.yml
          repo: PrestaShopCorp/services-deployment
          token: ${{ secrets.ACCESS_TOKEN_GITHUB }}
          ref: 'refs/heads/main'
          inputs: '{ "branch": "${{ steps.branch.outputs.current_branch }}", "nodeVersion": "${{ env.NODE_VERSION }}", "path": "${{ env.PATH }}", "environment": "production" }'
